.header {
	position: relative;
	height: 120vh;
	z-index: 1;

	background-image: linear-gradient(to left bottom, rgba(45, 52, 54, 0.9), rgba(0, 0, 0, 0.9)), url(../images/hero-bg.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

	clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
	-moz-clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
	-ms-clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
	-o-clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
}

.about {
	position: relative;
	background-color: var(--color-white);
	margin-top: -20vh;
	padding: 20rem 0;
	z-index: 0;
}

.store {
	position: relative;
	padding: 20rem 0;
	z-index: 1;
	background-color: var(--color-grey-light-2);

	transform: skewY(-7deg);
	-webkit-transform: skewY(-7deg);
	-moz-transform: skewY(-7deg);
	-ms-transform: skewY(-7deg);
	-o-transform: skewY(-7deg);

	& > * {
		transform: skewY(7deg);
		-webkit-transform: skewY(7deg);
		-moz-transform: skewY(7deg);
		-ms-transform: skewY(7deg);
		-o-transform: skewY(7deg);
	}
}

.contact {
	position: relative;
	background-color: var(--color-white);
	padding: 20rem 0;
}

.footer {
	position: relative;
	background-color: var(--color-navy);
	padding: 7rem 0;
}

// Grid Section
.row {
	max-width: 114rem;
	margin: 0 auto;

	@media only screen and (max-width: $bp-small) {
		max-width: 60rem;
		padding: 1rem;
	}

	@include clearfix;

	[class^="col-"] {
		float: left;
		margin: 2rem;

		@media only screen and (max-width: $bp-medium) {
			margin: 1rem;
		}

		@media only screen and (max-width: $bp-small) {
			margin: 0 0 1rem 0;
		}
	}

	.col-1-of-1 {
		width: 100%;
	}

	.col-1-of-2 {
		width: calc(((100%) / 2) - 4rem);

		@media only screen and (max-width: $bp-medium) {
			width: 100%;
		}
	}

	.col-1-of-3 {
		width: calc(((100%) / 3) - 4rem);

		@media only screen and (max-width: $bp-medium) {
			width: calc(((100%) / 2) - 2rem);
		}

		@media only screen and (max-width: $bp-small) {
			width: 100%;
		}
	}
}
